<!DOCTYPE html>
<html lang="en" ng-app="UploadApp">
<head>
    <title>Angular App Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.js"></script>

    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/upload/upload.controller.js"></script>


</head>

<body>

    <div ng-controller="UploadCtrl as uploadCtrl">
        <div style="margin:30px">
            <h2>Upload File</h2>

            <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">

                <div class="form-group">

                    <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select accept="*/*">

                </div>

                <div class="form-group" style="margin-bottom:10px">

                    <img ngf-thumbnail="uploadCtrl.imgFile" width="70px">

                </div>


                <div class="form-group">

                    <button type="submit">Upload</button>

                </div>

                <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code"
                     ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">

                    <button class="close" data-dismiss="alert">

                        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                        &times;

                    </button>

                    {{ uploadCtrl.status.message }}

                </div>

            </form>

        </div>

    </div>

</body>
</html>